@font-face {
    font-family:"main_font";
    src: url("/assets/fonts/main_font.ttf") format("truetype");
  }
body {
    font-family: main_font;
    background: #f06d06;
    color: rgb(255, 255, 255);
    text-align: center;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
  }
